button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
  span.icon-bar
  span.icon-bar
  span.icon-bar

a.navbar-brand#hi(href="/") Hi.
.collapse.navbar-collapse
  ul.nav.navbar-nav.navbar-right#topmenu
    li: a.page-scroll(href="/#casestudies") Case Studies
    li: a.page-scroll(href="/story") Story
    li: a.page-scroll(href="/resume") Resume
    li: a.page-scroll(href="#" data-toggle="modal" data-target="#textModal") Contact
