.modal.fade(id="textModal" data-toggle="modal")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-hidden="true") &times;
        h2 Say hello.
      .modal-body
        p. 
          Informational interview? Professional advice? 
          The best junior dev position in Portland? 
        | <p><h4><a href="mailto:mitchWOOmitchlillieHOOcom" onclick = "this.href = this.href.replace(/WOO/, '&#64;').replace(/HOO/, '&#46;')">I'm game!</a></h4></p>
        p.text-muted If you'd prefer the more direct approach, you can reach me at mitch at this very domain (mitchlillie.com)
        
