.modal.fade(id="textModal" data-toggle="modal")
   .modal-dialog
      .modal-content
         .modal-header
            button.close(data-dismiss="modal" aria-hidden="true") &times;
            h2 Get in touch!
         .modal-body
            p Enter your email below and I'll send you a personal message.
            form.form
               div.form-group
                  label.sr-only(for="emailAddr") Email address
                  input(type="email" id="emailAddr" placeholder="you@there.com")
            button.btn.btn-primary(type="submit" data-dismiss="modal") Send
