head
   title Mitch Lillie — Full Stack Javascript Developer, Designer and Writer
   script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
   script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
   script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js")
   link(href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css")
   link(href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css")
   link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,400italic|Yantramanav|Aladin" rel="stylesheet" type="text/css")
   link(href="/static/css/style.css" rel="stylesheet" type="text/css")
