/* 1. General body and font styles */

body {
   font-family: 'Yantramanav', sans-serif;
   font-size: 15px;
}

h1, h2, h3, h4 {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
}

#hi {
   font-family: 'Aladin', cursive;
   font-size: 35px;
   /*line-height: 30px;*/
   color: rgb(7, 178, 237);
 }

a.anchor {
   display: block;
   position: relative;
   top: -50px;
   visibility: hidden;
}

.text-muted {
   font-family: 'Playfair Display', serif;
   font-style: italic;
}

/* 2. Jumbotron and carousel styles */

.carousel-caption {
   right: 5%;
   left: auto;
   bottom: 50%;
   max-width: 600px;
   mix-blend-mode: exclusion;
}

.media-object {
   max-width: 180px;
   max-height: 180px;
}

/* 3. Custom icon span */

.forms {
   background: url("/static/images/forms.png") no-repeat transparent;
   display: block;
   height: 20px;
   width: 180px;
   margin: 19px 20px, 13px;
   background-size: auto 20px;
   margin-bottom: 20px;
   opacity: 0.6;
}

/* 4. Adding more whitespace to Bootstrap */

.top-buffer {
   margin-top: 50px;
}

.bottom-buffer {
   margin-bottom: 50px;
}

.small-buffer {
  margin-bottom: 10px;
}

/* 5. Bootstrap Affix.js styles */

.affix {
   top: 70px;
   outline: 10px solid white;
}

.affix-bottom {
   position: absolute;
}

/* 6. Sidebars and nav */

#sidebar {
  background-color: white;
  width: 260px;
}

#sidenav li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

ul#topmenu {
  font-size: 15px;
  color: white;
}

/* 7. Styles for story and resume */

.final {
  border: 5px solid rgb(7, 178, 237);
  padding: 2px;
}

.row.text-center > div {
  display: inline-block;
  float: none;
}

.box-shadow {
  -webkit-box-shadow: -5px 5px 68px -21px rgba(0,0,0,0.6);
  -moz-box-shadow: -5px 5px 68px -21px rgba(0,0,0,0.6);
  box-shadow: -5px 5px 68px -21px rgba(0,0,0,0.6);
}
