extends ./layout.jade

block content
  .jumbotron
    .carousel.slide(data-ride="carousel")
       .carousel-inner
          .item.active
             img.img-responsive(src="/static/images/me.JPG" alt="It's me, Mitch Lillie.")
             .carousel-caption
                h1.lead I'm Mitch Lillie. 
                button.btn-lg.btn-primary(data-toggle="modal" data-target="#textModal") Hire me!
  .container#top
    .row
       a.anchor#casestudies
       nav.col-sm-3
          #sidebar
             h2 Case studies
             .forms
             ul.nav.nav-stacked#sidenav
                li
                   a(href="#one") Planning
                li
                   a(href="#two") Execution
                li
                   a(href="#three") Design
                
       a.anchor#one
       .col-sm-5
          a(href="#")
             img.img-responsive(src="/static/images/casestudies/goodcider/strong-bottles.jpg")
       .col-sm-3
          h3 Good Cider
          p.
             Labeling and branding for three
             revolutionary cider blends. 
          p.text-muted
             Adobe Illustrator & Photoshop CS6; Identity-making, color palettes & market strategy.
          form(action="#")
             button.btn.btn-info(type='submit' value='View Case Study') View Case Study 
                span.glyphicon.glyphicon-chevron-right
    .row.top-buffer
       a.anchor#two
       .col-sm-5.col-sm-offset-3
          a(href="#")
             img.img-responsive(src="/static/images/casestudies/ppnyearbook/final.jpg")
       .col-sm-3
          h3 PDX Pop Now! Yearbook
          p.
             Production design and collage 
             for Willamette Week's coverage 
             of Portland's coolest festival.
          p.text-muted Adobe InDesign, Photoshop; Large-scale collaboration, deadline management, fair use sourcing.
          form(action="#")
             button.btn.btn-info(type='submit' value='View Case Study') View Case Study 
                span.glyphicon.glyphicon-chevron-right
    .row.top-buffer
       a.anchor#two
       .col-sm-5.col-sm-offset-3
          a(href="#")
             img.img-responsive(src="/static/images/casestudies/ppnyearbook/final.jpg")
       .col-sm-3
          h3 PDX Pop Now! Yearbook
          p.
             Production design and collage 
             for Willamette Week's coverage 
             of Portland's coolest festival.
          p.text-muted Adobe InDesign, Photoshop; Large-scale collaboration, deadline management, fair use sourcing.
          form(action="#")
             button.btn.btn-info(type='submit' value='View Case Study') View Case Study 
                span.glyphicon.glyphicon-chevron-right
  .row.top-buffer#footer
    img.img-responsive(src="http://lorempixel.com/1900/400")
