doctype html
html(lang="en")
  include ./partials/_head.jade

  body(data-spy="scroll" data-target="#sidebar")
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        include ./partials/_bar.jade
    include ./partials/_contact.jade
    block content
    .container-fluid
      .row.top-buffer#footer
        include ./partials/_social.jade
    script(type="text/javascript" src="/static/js/bootstrap.min.js")
    
