extends ./layout.jade

block content
  .container.top-buffer
    .row.text-center.top-buffer
        .col-sm-1
          a(href="https://github.com/mitchlillie")
            img.img-responsive(src="/static/images/icons/github.png")
        .col-sm-1.col-sm-offset-1
          a(href="https://www.linkedin.com/in/mitchlillie")
            img.img-responsive(src="/static/images/icons/linkedin.png")
        .col-sm-1.col-sm-offset-1
          a(href="https://geo.itunes.apple.com/us/podcast/coding-amateur-hour-stories/id1030040039?mt=2")
            img.img-responsive(src="/static/images/icons/itunes.png")
        .col-sm-1.col-sm-offset-1
          a(href="https://twitter.com/mitchlillie")
            img.img-responsive(src="/static/images/icons/twitter.png")
    .row.top-buffer
      .col-md-8.col-sm-offset-2
        a(href="/static/images/resume.pdf")
          img.img-responsive.box-shadow(src="/static/images/resume.png")
          
          
