extends ./layout.jade

block content
  .container.top-buffer
    include ./partials/_social.jade
    .row.top-buffer
      .col-md-8.col-sm-offset-2
        a(href="/static/images/Resume.pdf")
          img.img-responsive.box-shadow(src="/static/images/Resume.png")
          
          
